In [18]:
import pandas as pd
from sklearn.metrics import accuracy_score, roc_auc_score
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA

Импорт библиотек

In [ ]:
ca = pd.read_excel(r'C:\Users\User\Documents\GitHub\Intensiv_3\Dataset\data\train.xlsx', engine='openpyxl')

Проверка данных (В нашем случае не нужно ничего заполнять)

In [17]:
ca.head(12)

           dt  Цена на арматуру
0  2022-09-05             46000
1  2022-09-12             46000
2  2022-09-19             46000
3  2022-09-26             45500
4  2022-10-03             45500
5  2022-10-10             45000
6  2022-10-17             44000
7  2022-10-24             43000
8  2022-10-31             42000
9  2022-11-07             41500
10 2022-11-14             41000
11 2022-11-21             40000

Дальше нужно переименовать столбцы для удобства

In [ ]:
ca.rename(columns={'dt': 'date', 'Цена на арматуру': 'price'}, inplace=True)


ca['date'] = pd.to_datetime(ca['date'])
ca.set_index('date', inplace=True)

            price
date
2022-09-05  46000
2022-09-12  46000
2022-09-19  46000
2022-09-26  45500
2022-10-03  45500

Проверяем

In [24]:
ca.head(12)

            price
date
2022-09-05  46000
2022-09-12  46000
2022-09-19  46000
2022-09-26  45500
2022-10-03  45500
2022-10-10  45000
2022-10-17  44000
2022-10-24  43000
2022-10-31  42000
2022-11-07  41500
2022-11-14  41000
2022-11-21  40000

In [25]:
start_date = pd.to_datetime("2022-09-05")

# Создаем столбец с датами, начиная с этой даты и с шагом в 1 неделю
ca['date'] = [start_date + pd.Timedelta(weeks=i) for i in range(len(ca))]

# Устанавливаем этот столбец как индекс
ca.set_index('date', inplace=True)

# Проверяем результат
print(ca.head())

            price
date
2022-09-05  46000
2022-09-12  46000
2022-09-19  46000
2022-09-26  45500
2022-10-03  45500

In [26]:
ca['date'] = pd.to_datetime(ca['date'], format='%Y.%m.%d')

# Проверим результат
print(ca.head())

KeyError: 'date'